.color-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-input label {
  width: 100px;
}

.color-input input[type="text"] {
  flex: 1;
}

.color-input input[type="color"] {
  width: 50px;
  height: 30px;
  border: none;
}
