.button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.copy-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.color-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-info h3,
.color-info h4,
.color-info p {
  margin: 0;
}
