.color-form {
  flex-direction: column;
  width: 300px;
  padding: 15px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.color-input input[type="text"] {
  margin-right: 0.5rem;
  flex: 1;
}
